<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!--   See Using Zendesk Garden:
    https://developer.zendesk.com/apps/docs/developer-guide/setup#using-zendesk-garden
    https://garden.zendesk.com/css-components/bedrock/
    https://garden.zendesk.com/css-components/utilities/typography/
   -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/@zendeskgarden/css-bedrock@7.0.21,npm/@zendeskgarden/css-utilities@4.3.0">
  <style>
    .data {
      color: #363;
      padding-left: 6px;
    }

    #content td {
      font-size: 12px;
      padding-top: 2px;
    }
    .valid{background-color: green;}
    .expired{background-color: red;}
    .valid,.expired{text-align: center;color: white;font-weight: bold;}
    .valid .expired{display:none;}
    .expired .valid{display:none;}
  </style>
</head>
<body>
  <div id="content">Loading ...</div>

  <script id="requester-template" type="text/x-handlebars-template">
    <table>
      <tr>
        <td colspan="2" class="{{valid_class}}">
          <p class="valid">License Valid</p>
          <p class="expired">License Expired</p>
        </td>
      </tr>
      <tr>
        <td>Item:</td>
        <td class="data">{{item_name}}</td>
      </tr>
      <tr>
        <td>Buyer:</td>
        <td class="data">{{buyer}}</td>
      </tr>
      <tr>
        <td>Purchase:</td>
        <td class="data">{{purchase_count}}</td>
      </tr>
      <tr>
        <td>Sold At:</td>
        <td class="data">{{sold_at}}</td>
      </tr>
      <tr>
        <td>Sup To:</td>
        <td class="data">{{supported_until}}</td>
      </tr>
    </table>
  </script>

  <script id="error-template" type="text/x-handlebars-template">
    <p>{{status}} - {{statusText}}</p>
  </script>

  <script src="https://static.zdassets.com/zendesk_app_framework_sdk/2.0/zaf_sdk.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/handlebars@4.3.3/dist/handlebars.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
  <script src="main.js"></script>
</body>
</html>
